body {
    background-color:  #e4aacd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #ffc4fc;
    height: 45px;
    padding: 10px;
}

h1 {
    color: #fff9ff;
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ffffff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: hwb(261 79% 9%);
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #ffffff;
}

.barbie{
    width: 400px;  
}
.poli{
    
}


